@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap');
.container{
    width: 800px;
    min-height: 500px;
    background: rgb(9, 9, 9);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: 30px 30px 15px rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
}
.split{
width: 100%;
height: 90%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.title{
    width: 100%;
    height: 85px;
    /* background: gray; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* background: #c0c1c2; */
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 12px;
    position: relative;
}
.title img{
    margin-left: 3px;
    margin-top: 15px;
    margin-right: 7px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.title .contain{
    position: relative;
    width: calc(100% - 86px);
    /* background: #eee; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}
.title .contain h3{
    margin-left: 12px;
    margin-top: 7px;
    letter-spacing: 1px;
    font-size: 19px;
    color: #e4e7ea;
    cursor: pointer;
}
.title .contain h3 span{
    color: #c0c1c2;
    font-size: 15px;
    letter-spacing: 0px;
}
.title .contain i{
    margin-right: 20px;
    font-size: 25px;
}
.TimeLoc{
    position: absolute;
    right: 3%;
    top: 0%;
    width: 90px;
    height: 100%;
    color: #c0c1c2;
    /* background: rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgMain{
    /* background: red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    border-radius: 0%;
    margin-left: 5px;
    margin-right: 4px;
}
.imgMain img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
    /* border-radius: 2px; */
}
.shareContain{
width: 40%;
/* background: #e4e7ea; */
height: 300px;
}
.shareContain1{
    width: 100%;
    height: 60px;
    flex-direction: row;
    display: flex;
    margin-top: 7px;
    font-weight: 200;
    align-items: center;
    justify-content: space-evenly;
    /* background: #2E4053; */
    color: rgb(215, 214, 214);
    transition: 2s;
}
.shareContain1 i{
    margin: auto 9px;
    font-size: 30px;
}
.shareContain1 i:hover{
    color: cornflowerblue;
}
.shareContain1 #heart{
    color: red;
    margin-left: 15px;
}
.shareContain1 #heart:hover{
    color: rgb(106, 200, 255);
}

.shareContain i:nth-child(4){
    margin-left: 250px;
}
.shareContain2{
    width: 100%;
    height: 130px;
    padding: 0 15px;
    /* background: rgb(187, 128, 255); */
}
.shareContain2 .likes{
    color: #000;
    cursor: pointer;
}
.shareContain2 h5{
    margin-top: 7px;
   color: rgb(207, 204, 204);
   font-size: 15px;
   font-weight: 900;
   cursor: pointer;
}
.shareContain2 h5 span{
    color: #444;
    cursor: pointer;
}
.shareContain2 h5 div{
    color: rgb(0, 102, 255);
    cursor: pointer;
}
.shareContain2 p{
    color: #333;
    margin-top: 12px;
    font-weight: 500;
    margin-left: 4px;
    cursor: pointer;
}
.shareContain3{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.user{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.shareContain3 .user img{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 22px;
}
.shareContain3 .user input{
    margin-top: 7px;
    margin-left: 12px;
    width: 70%;
    height: 40px;
    background: transparent;
    color: rgb(216, 215, 215);
    font-size: 12px;
    font-weight: 300;
    border: none;
    outline: none;
}
.shareContain3 span{
    margin-bottom: 18px;
    margin-left: 22px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.borderS{
    border-radius: 50%;
}